#img5
{
    margin-left: 205px;
    margin-right: 205px;
    background-image: url('../../image/login/BG.jpg');
}

#acc5
{
    margin-left: 200px;
    margin-right: 200px;
    background-color: #EFEFEF;
}