#acc4
{
    margin-left: 205px;
    margin-right: 205px;
    background-image: url('../../image/login/BG.jpg');
}

#img4
{
    margin-left: 50px;
    margin-right: 50px;
    background-color: #EFEFEF;
}